@charset "ISO-8859-1";

.bg-custom {
	background: #2525a7;
}

.navbar .nav-item .nav-link {
	font-size: 20px;
	color: white;
}

.navbar-custom .nav-item:hover .nav-link {
	background: #5cb85c;
	color: whitesmoke;
	border-radius: 8px;
}

.div-color1 {
background-image: linear-gradient(to right top, #3ea867, #008a88, #00668a, #294068, #342037);
}